<table class="table table-bordered table-condensed table-hover">
 <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.github, project.html_url %></td>
        <td>
          <table>
            <% project.users.each do |user| %>
              <thead><tr><th>email</th></tr></thead>
              <tbody><tr><th><%= user.email%></th></tr></tbody>
            <% end %>
          </table>
        </td>
        <td>
          <%= link_to project do %>
          <i style="font-size: 30px" class="icon-chevron-right"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
